html {
    background: #FBF3E2;
}

body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    color: #4d4d4d;
  }

.first_caption {
        text-align: center;
        height: 100vh;
        width: 102%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
        background: #FBF3E2;
}

#bi {
    height: 80%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-90%,-50%);
}

.first_text_box {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.first_img {
    width: 60%;
    position: relative;
    top: 0;
    height: 100%;
    float: right;
    align-items: center;
}

.first_text {
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-20%,-50%);
}

.right_img {
    width: 40%;
    height: 100%;
    display: inline-block;
}

.right_text_box {
    width: 60%;
    position: relative;
    top: 0;
    height: 100%;
    float: right;
    align-items: center;
}

.title {
    text-align: left;
    color: #4d4d4d;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
}

.lite {
    font-weight: 300;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}

.lite_text {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.second_slide {
    background: #FFFCF6;
    height: 80vh;
}

#post_it {
    height: 55%;
    border-right-color: #4d4d4d;
    border-right-width: medium;
    border-right-style: solid;
    padding-right: 80px;
    left: 15%;
    top: 28%;
    position: relative;
}

#chair_girl {
    height: 55%;
    border-left-color: #4d4d4d;
    border-left-width: medium;
    border-left-style: solid;
    padding-left: 80px;
    left: 0%;
    top: 28%;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -40px;
}

.left_align {
    text-align: left;
}

.second_text {
    left: 25%;
    width: 80%;
    color: #4d4d4d;
}

.slim {
    width: 40%;
}

.third_text {
    width: 80%;
    position: relative;
    top: 50%;
    left: 24%;
    transform: translate(-20%,-50%);
}

.right_align {
    text-align: right;
}

#talking {
    height: 55%;
    border-right-color: #4d4d4d;
    border-right-width: medium;
    border-right-style: solid;
    padding-right: 80px;
    left: 15%;
    top: 28%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: -30px;
}

/* FOOTER */
footer {
  height: 120px;
  bottom: 0%;
  right: 0;
  left: 0;
  position: relative;
  border-top: 1px solid #d4d4d4;
  background: #FFFCF6;
}

.footer_content {
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
  font-size: 0.7em;
  font-weight: 300;
}

footer a {
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: gray;
}
footer a:hover {
  color: #b3b3b3;
}

.footer_text {
  color: gray;
  font-weight: normal;
  margin-top: 10px;
  padding-left: 8px;
}

.footer_icons {
  /*border: 1px solid black;*/
  float: right;
  height: 50px;
  margin-top: 10px;
  position: relative;
  left: 90px;
}
.footer_icons a {
  text-align: center;
  padding-right: 0px;
  padding-bottom: 1px;
  margin-left: 0px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: gray;
}

.bottom_header_content_list {
    margin: 10px 0px 0px 0px;
    padding: 0;
    overflow: hidden;
    display: flex;
    list-style-type: none;
}

  .bottom_header_content_list_item {
    float: left;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    font-size: 1em;
    list-style-type: none;
  }

  .footer_copyright {
    margin-top: 60px;
    padding-left: 2px;
  }
  
  .footer_text_list {
    position: relative;
    left: -30px;
    top: 20px;
    height: 1px;
  }

@media (max-width: 1200px) {
    /*footer*/
        /* FOOTER START */
    footer {
        border-top: 1px solid #d4d4d4;
    }

    .footer_content {
      margin: 0 auto;
      max-width: 90%;
      text-align: left;
      font-size: 0.7em;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      padding: 10px 0px 5px 0px;
  }

  .footer_icons {
    float: none;
    margin: 0px;
  }

  .footer_text {
    font-weight: normal;
    margin: 10px 0px 20px 0px;
    padding-left: 0px;
    font-size: .5em;
    left: 0px;
}

.footer_text_list {
  left: 0px;
  top: 0px;
}

.footer_copyright {
  margin-top: 20px;
  padding-left: 0px;
}

.footer_icons {
    left: 0px;
}

    /* FOOTER END */

    /*footer end*/
}