body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}


.background_orange {
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;

  background: #ff6600; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ff4400, #FFA100); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ff4400, #FFA100); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ff4400, #FFA100); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ff4400, #FFA100); /* Standard syntax */
}

section a {
  color: #ffffff;
}

header a {
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #ffffff;
  transition: border 0.15s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header a:hover {
  color: #ffc299;
  border-bottom: 8px solid #ffc299;
}

.top_header {
  top: 20px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100px;
  min-width: 1000px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top_header_content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #ffffff;*/
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.top_header_content_list {
  text-align: justify;
  list-style: none;
  align-items: center;
  display: inline-block;
  margin-left: -38px;
}


.top_header_content_list_item, .top_header_content_list li {
  display: inline;
  text-align: center;
  height: 33px;
  margin-left: 7px;
  margin-right: 7px;
}

.subheader {
  float: right;
  right: 307px;
  bottom: 28px;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
#subheader_process {
  float: right;
  right: 225px;
  bottom: 28px;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
#subheader_partner {
  float: right;
  right: -20px;
  bottom: 28px;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
.subheader_content_list_item, .subheader li {
  display: block;
  text-align: left;
  height: 33px;
}
/*.subheader {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: element;
  user-select: all;
}*/

.subheader a:hover {
  color: #ffc299;
  border-bottom: 0px solid #ffc299;
}


#bi_logo {
  height: 40px;
  margin-bottom: -10px;
  pointer-events: none;
}

#list_space {
  margin-left: 240px;
  margin-right: 240px;
}

.content {
  top: 120px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  min-width: 1000px;
}

.content_body {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #cccccc;*/
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.officer_grid {
  /*border: 1px dashed #ffffff;*/
  height: 100%;
  margin: 5px 13px;
  margin-bottom: 70px;
}

.text_box {
  /*border: 1px dashed #ffffff;*/
  height: 100%;
  margin-bottom: 30px;
  padding: 5px 8px;
  font-size: 0.73em;
  font-weight: 300;
  color: white;

  text-align: center;

  position: relative;
  margin: 0 auto;

}


.icon {
  width: 30px;
  margin: 10px;
  margin-top: 50px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.8em;
  padding-left: 17px;
  margin: 10px auto;
  color: #ffffff;

}







footer {
  height: 70px;
  /* background-color: #333333; */
  right: 0;
  left: 0;
  bottom: -130px;
  position: absolute;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 50px;

}

.footer_content {
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
  font-size: 0.7em;
  font-weight: 300;
}

footer a {
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: gray;
}
footer a:hover {
  color: #b3b3b3;
}

.footer_text {
  color: gray;
  font-weight: normal;
  margin-top: 10px;
  padding-left: 8px;
}

.footer_icons {
  /*border: 1px solid black;*/
  float: right;
  width: 200px;
  height: 50px;
  margin-top: 10px;
}
.footer_icons a {
  text-align: center;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-left: 0px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: gray;
}

.fb_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/facebook28.png") center top no-repeat;
}
.fb_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/facebook28_ro.png") center top no-repeat;
}

.tw_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/twitter2828.png") center top no-repeat;
}
.tw_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/twitter28_ro.png") center top no-repeat;
}

.li_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/linkedin28.png") center top no-repeat;
}
.li_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/linkedin28_ro.png") center top no-repeat;
}

.yt_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/youtube28.png") center top no-repeat;
}
.yt_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/youtube28_ro.png") center top no-repeat;
}
