body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}


.background_orange {
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*border-top: 8px solid #ff6600;*/


  /*background: #ffd1b3;
  background: -webkit-linear-gradient(left top, #ff4400, #ffd1b3);
  background: -o-linear-gradient(bottom right, #ff4400, #ffd1b3);
  background: -moz-linear-gradient(bottom right, #ff4400, #ffd1b3);
  background: linear-gradient(to bottom right, #ff4400, #ffd1b3);*/
}

section a {
  color: #ffffff;
  text-decoration: none;
}

header a {
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #ff6600;
  transition: border 0.15s ease;
  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

header a:hover {
  color: #ffc299;
  border-bottom: 8px solid #ffc299;
}

.top_header {
  top: 18px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100px;
  min-width: 1000px;

}

.top_header_content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #ffffff;*/
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.top_header_content_list {
  text-align: justify;
  list-style: none;
  align-items: center;
  display: inline-block;
  margin-left: -38px;
}


.top_header_content_list_item, .top_header_content_list li {
  display: inline;
  text-align: center;
  height: 33px;
  margin-left: 7px;
  margin-right: 7px;
}

.subheader {
  float: right;
  right: 307px;
  bottom: 28px;
  border: 1px solid #ffc299;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
#subheader_process {
  float: right;
  right: 225px;
  bottom: 28px;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
#subheader_partner {
  float: right;
  right: -20px;
  bottom: 28px;
  /*border: 1px solid black;*/
  padding: 0;
  position: relative;
  font-style: italic;
  z-index: 10;
}
.subheader_content_list_item, .subheader li {
  display: block;
  text-align: left;
  height: 33px;
}


.subheader a:hover {
  color: #ffc299;
  border-bottom: 0px solid #ffc299;
}


#bi_logo {
  height: 43px;
  margin-bottom: -10px;
  pointer-events: none;
}

#list_space {
  margin-left: 240px;
  margin-right: 130px;
}

.stripe {
  background-color: #004250;
  opacity: 0.5;
  display: none;
  width: 450px;
  height: 200px;
  position: absolute;
  left: 0px;
  bottom: 100px;
  /*transform: translate(-50%, -50%);*/
}

.content {
  top: 120px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  z-index: 100;

  /*-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
}

.content_body {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #cccccc;*/
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  display: none;
  height: 80%;

  bottom: 200px;
}

.officer_grid {
  /*border: 1px dashed #ffffff;*/
  height: 100%;
  margin: 5px 13px;
  margin-bottom: 70px;
}

.text_box {
  /*border: 1px dashed #ffffff;*/
  height: 230px;
  width: 400px;
  padding-right: 30px;
  padding-top: 20px;
  z-index: 100;

  font-size: 0.73em;
  font-weight: 300;
  bottom: 0px;
  right: 50px;
  position: absolute;
  text-align: right;
  background-color: rgba(51, 51, 51, 0.4);
  border-radius: 3px;

}

.icon {
  width: 30px;
  margin: 10px;
  margin-top: 50px;
}

.hero_pic {
  position: absolute;
  height: 100%;
  max-height: 800px;
  bottom: 0px;
  right: -70px;
  z-index: -1;
  display: none;

  padding-top: 150px;
}

.hero_quote {
  padding-bottom: 40px;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 45%;
  z-index: -10;

}

.julian_quote {
  width: 37%;
}
.julian_space {
  max-height: 750px;
  right: -150px;
  bottom: 80px;
}

#join_us {
  background-color: #ff6600;
  color: white;

  width: 140px;
  height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 22px;

  font-family: "Open Sans", serif;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1.3px;
  border: 4px solid #ff6600;
  border-radius: 50px;

  cursor: pointer;
  transition: background-color 1s ease;

  display: inline-block;
}

#join_us:hover {
  background-color: white;
  color: #ff6600;
}

#how_we_think {
  /*background-color: white;*/
  color: #ff6600;

  width: 180px;
  height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 11px;

  font-family: "Open Sans", serif;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 1.3px;
  border: 4px solid #ff6600;
  border-radius: 50px;

  cursor: pointer;
  transition: background-color 1s ease;

  display: inline-block;
}

#how_we_think:hover {
  background-color: #ff6600;
  color: white;
}


.shown {
  display: block;
}

.hidden {
  display: none;
}

#vid {
  z-index: -100;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 4em;
  line-height: 0.7em;
  padding-left: 10px;
  margin: 10px auto;
  color: white;
}

h7 {
  display: inline;
  color: #ff6600;
  font-weight: 300;
}

p {
  /*border: 1px solid black;*/
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 1.2em;
  font-style: italic;
  line-height: 0.7em;
  padding-left: 15px;
  margin-bottom: 150px;
  color: #666666;
  bottom: 120px;
  position: absolute;
}




footer {
  height: 70px;
  /* background-color: #333333; */
  right: 0;
  left: 0;
  bottom: -140px;
  position: absolute;
  background: #ff6600; /* For browsers that do not support gradients */

  padding-top: 0px;
  padding-bottom: 70px;
  border-top: 15px solid #ff6600;
}

.footer_content {
  margin: 0 auto;
  max-width: 950px;
  text-align: left;
  font-size: 0.7em;
  font-weight: 300;
}

footer a {
  text-align: center;
  padding-right: 5px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: #f2f2f2;
}
footer a:hover {
  color: #b3b3b3;
}

.footer_text {
  color: #f2f2f2;
  font-weight: normal;
  margin-top: 10px;
  padding-left: 8px;
}

.footer_icons {
  /*border: 1px solid black;*/
  float: right;
  width: 200px;
  height: 50px;
  margin-top: 10px;
}
.footer_icons a {
  text-align: center;
  padding-right: 0px;
  padding-bottom: 1px;
  margin-left: 0px;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  color: gray;
}


/*.fb_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/facebook28.png") center top no-repeat;
}
.fb_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/facebook28_ro.png") center top no-repeat;
}

.tw_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/twitter2828.png") center top no-repeat;
}
.tw_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/twitter28_ro.png") center top no-repeat;
}

.li_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/linkedin28.png") center top no-repeat;
}
.li_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/linkedin28_ro.png") center top no-repeat;
}

.yt_icon {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/youtube28.png") center top no-repeat;
}
.yt_icon:hover {
  background:transparent url("https://berkeleyinnovation.org/media/socialmedia_pngs/youtube28_ro.png") center top no-repeat;
}*/



@media (max-width: 999px) {
  .content {
    top: 120px;
    right: 0;
    left: 0;
    position: absolute;
    display: block;
    height: 100%;
    z-index: 100;

/*
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
  }

  .content_body {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 5px;
    position: relative;
    /*border: 1px solid #cccccc;*/
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    display: none;
    height: 100%;
  }

}
