body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

/*.background {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}*/

section a {
  color: #ff6600;
}

header a {
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  color: #ff6600;
  transition: border 0.15s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header a:hover {
  color: #ffc299;
  border-bottom: 3px solid #ffc299;
}

.top_header {
  top: 20px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100px;
  min-width: 1000px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.top_header_content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #ffffff;*/
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.top_header_content_list {
  text-align: justify;
  list-style: none;
  align-items: center;
  display: inline-block;
  margin-left: -38px;
}

.top_header_content_list_item, header ul li {
  display: inline;
  text-align: center;
  height: 44px;
  margin-left: 7px;
  margin-right: 7px;
}

.active_page {
  font-weight: 600;
  border-bottom: 3px solid #ff6600
}


#bi_logo {
  height: 40px;
  margin-bottom: -10px;
  pointer-events: none;
}

#list_space {
  margin-left: 240px;
  margin-right: 240px;
}

.content {
  top: 120px;
  right: 0;
  left: 0;
  position: absolute;
  display: block;
  height: 100%;
  min-width: 1000px;
}

.content_body {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 5px;
  position: relative;
  /*border: 1px solid #cccccc;*/
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.officer_grid {
  /*border: 1px dashed #ffffff;*/
  height: 100%;
  margin: 5px 13px;
  margin-bottom: 70px;
}

.text_box {
  /*border: 1px dashed #ffffff;*/
  height: 100%;
  margin: -10px 10px;
  margin-bottom: 30px;
  padding: 5px 8px;
  font-size: 1.2em;
  font-weight: 300;
}

#quote_box {
  /*border: 1px dashed black;*/
  height: 100%;
  margin: -10px 10px;
  margin-bottom: 30px;
  padding: 5px 8px;
  font-size: 1.1em;
  font-weight: 500;
  font-style: italic;

}

.title_column {
  display: inline-block;
  /*border: 1px solid black;*/
  width: 280px;
  top: -552px;
  text-align: right;
  position: relative;
}
.text_column {
  display: inline-block;
  /*border-left: 0.5px solid #ff6600;*/
  width: 650px;
  margin-top: -20px;
}

#wide_figure {
  width: 100%;
}

.process_box {
  border: 5px solid #ffffff;
  font-size: 1.3em;
  font-weight: 300;
  background-color: #ff6600;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: -10px 10px;
  margin-bottom: 800px;
  padding: 5px 8px;
}

.icon {
  width: 30px;
  margin: 10px;
  margin-top: 50px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.8em;
  padding-left: 17px;
  margin: 10px auto;
  color: #666666;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.2em;
  padding-left: 17px;
  margin: 10px auto;
  color: #666666;
}

h5 {
  margin-top: -20px;
  text-align: right;
  font-weight: 300;
  font-style: normal;
}

h6 {
  font-size: 1em;
  display: inline;
  color: #ff6600;
  font-weight: 300;
}

footer {
  height: 120px;
  background-color: #333333;
  bottom: 0%;
  right: 0;
  left: 0;
  position: relative;
}

.footer_content {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  font-size: 0.7em;
  font-weight: normal;
  padding-top: 40px;
  color: #e6e6e6;
}

.process_title {
  /*color: #ff6600;*/
  margin-bottom: 200px;
  border-right: 1px solid #ff6600;
  padding-right: 10px;
}

#alum {
  margin-bottom: 400px;
}

/*
.cd-form .icon input, .cd-form .icon select, .cd-form .icon textarea {
 	padding-left: 54px !important;
}
.cd-form .user {
 	background: url("../img/cd-icon-user.svg") no-repeat 16px center;
}
.cd-form [required].user {
 	background: url("../img/cd-icon-user.svg") no-repeat 16px center,
 				url("../img/cd-required.svg") no-repeat top right;
}

.cd-form [required] {
 	background: url("../img/cd-required.svg") no-repeat top right;
}

.cd-form .error {
	border-color: #e94b35 !important;
}*/


#contact {height:100%; margin: 10px 20px; background: #DDD;background-color: #ff944d; margin-bottom: 100px;}

.container {width:880px; height:auto; margin: 0 auto; padding: 25px 0; background-color: #ff944d;}

#contact .container form input,
#contact .container form textarea {
	width:97.3%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	width:100%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#dd4545;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #dd4545;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form .submit:hover {
	color:#FFF;
  border:2px solid #b43838;
	background: #b43838;
	cursor:pointer;}

#contact .container form .required {
	color:#b43838;}
