body {
  height: 100%;
  background-color: #f2f2f2;
  font-family: "Lato", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

.top_header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  height: 60px;
  z-index: 99;
  background-color: #FF7242;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;

}
